* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

    .heart {
      position: relative;
      width: 100px;
      height: 90px;
      margin-top: 100px;
      margin-left: 720px;
      animation-name: heart;
      animation-timing-function: ease-out;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    .heart:before,
    .heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: red;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    .heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
    @keyframes heart{
      0%{
          transform: scale(0);
      }
      100%{
          transform: scale(105%);
      }
    }